/* 预览模式 */
.markdown-preview-view .markdown-preview-section {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 12px;
}

/* 编辑器模式 */
.markdown-source-view .cm-sizer {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 12px;
}

/* 确保编辑器容器全宽 */
.markdown-source-view .cm-editor {
    overflow: auto;
}
